.progress {
  width: 100%;
  background-color: #ddd;
}

.greenBar {
  height: 50px;
  background-color: green;
  text-align: center;
  line-height: 50px;
  color: white;
}
.redBar {
  background-color: #f00;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.yellowBar {
  background-color: #ffcc29;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.default {
  background-color: white;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
